<h1>Welcome to my project API</h1>

<ul>
  <a href="/add"><li>Add a project</li></a>
  <a href="/list"><li>See a list of projects and information on them</li></a>
  <a href="/update"><li>Update information on a project</li></a>
  <a href="/delete"><li>Delete a project</li></a>
</ul>