<h1>Please select the project you wish to update.</h1>



<form action="/update__do">
  <select name ="project[id]">
    <% Project.all.each do |project| %> 
      <option value="<%= project.id %>"><%= project.name %></option>
    <% end %>
  </select>
  <p>Update Information</p>
  <input type="text" placeholder="Project Name" name="project[name]"></br>
  <input type="text" placeholder="Description" name="project[description]"></br>
  <input type='submit'>
</form>

